@use './Variables' as vars;
@use './RegistrationPage';
@use './TodoPage';
@use './TodoList';
@use './TodoGrid';
@use './TaskItem';
@use './TodoDetailPage';
@use './animation';

body {
  font-family: vars.$font-family;
  font-size: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);

  margin: 0;
  padding: 0;
  color: vars.$text-color;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}
