@use './Variables.scss' as *;
@use './RegistrationPage.scss' as *;
@use './TodoPage.scss' as *;
@use './TodoList.scss' as *;
@use './TodoGrid.scss' as *;
@use './TaskItem.scss' as *;
@use './TodoDetailPage.scss' as *;
@use './animation.scss' as *;

body {
  font-family: $font-family;
  font-size: 1rem;
  background-color: $background-color;
  margin: 0;
  padding: 0;
  color: $text-color;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}
