@use './Variables' as *;
@use './RegistrationPage' as *;
@use './TodoPage' as *;
@use './TodoList' as *;
@use './TodoGrid' as *;
@use './TaskItem' as *;
@use './TodoDetailPage' as *;
@use './animation' as *;

body {
  font-family: $font-family;
  font-size: 1rem;
  background-color: $background-color;
  margin: 0;
  padding: 0;
  color: $text-color;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}
