.task-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  max-width: 50%;
  color: var(--text-color);
  background-color: var(--background-color1);
  border: 1px solid #f58d05;
  border-radius: 30px;
  margin-bottom: 10px;

  &:hover {
    background-color: #f4931d;;
    border: 1px solid #03101c;
  }

  &-completed {
    background-color: #d4edda;
  }

  &-pending {
    background-color: #f4931d;
  }

  .task-item-title {
    text-decoration: none;
    cursor: pointer;

    &.completed {
      text-decoration: line-through;
    }
  }

  .task-buttom{
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  gap: 10px;
  }

  .task-item-delete {
    padding: 5px;
    background-color: var(--bg-button);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    opacity: 0.5;
    min-width: 50px;

    &:hover {
      opacity: 0.9;
    }
  }
  .task-item-edit, .task-item-save {
    min-width: 50px;
    padding: 5px;
    background-color: darkgreen;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    opacity: 0.5;

    &:hover {
      opacity: 0.9;
    }
  }
}
