@use './Variables' as vars;

.todo-list {
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}

.todo-list-title{
font-size: 1.5rem;
margin:2rem;
color: #ffffff;
letter-spacing: 3px;
}

.todo-list-input {
  width: 25%;
  padding: 0.7rem;
  background-color: #03101c;
    border: 1px solid #f58d05;
  border-radius: 30px;

  &:hover {
    color: #f58d05;
    -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, 5px 5px 9px 5px rgba(3,16,28,0); 
    box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, 5px 5px 9px 5px rgba(3,16,28,0);
  }
}

.todo-list-actions{
margin: 0;
padding: 0;
}

  .todo-grid-button {
    padding: 1rem 1rem;
    background-color: vars.$primary-color;
    color: white;
    background-color: #03101c;
    border: 1px solid #f58d05;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, 5px 5px 9px 5px rgba(3,16,28,0); 
      box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, 5px 5px 9px 5px rgba(3,16,28,0);
    }
}

.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  background-color: vars.$primary-color;
  color: white;
  margin-bottom: 0.5rem;
  border-radius: 4px;

  &:hover {
    background-color: vars.$secondary-color;
  }
}
