@use './Variables' as vars;

.todo-detail-page {
  background-color: white;
  padding: 2rem;
  border-radius: vars.$border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  input {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid vars.$border-color;
    border-radius: vars.$border-radius;
  }

  .todo-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    h1 {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    .todo-detail-task {
      margin-top: 1rem;
      padding: 1rem;
      border-radius: 4px;
      background-color: #f9f9f9;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: background-color 0.3s ease-in-out;

      &.hovered {
        background-color: #e6f7ff;
      }

      button {
        margin-left: 0.5rem;
        padding: 0.5rem;
        background-color: vars.$primary-color;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: vars.$secondary-color;
        }
      }
    }
  }
}
