.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  background: linear-gradient(280deg, #02053b,#048263, #03101c,#001c21);
  background-size: 600% 600%;
  animation: colorShift 30s infinite;
  color: white;
  display: flex;
  font-family: "Space Grotesk", Arial, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  z-index: 1000;

  h2 {
    padding-left: 1.5rem;
    margin: 0.5rem;
    letter-spacing: 2px;
  }

  @keyframes colorShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
