.sidebar {
  background-color: var(--background-color1);
  color: var(--background-color);
  width: 9vw;
  position: relative;
  transition: width 0.5s ease-in-out;
  overflow: hidden;

  ul {
    list-style: none;
    padding: 4rem 2rem;

    li {
      margin-bottom: 15px;

      a {
        color: var(--text-color);
        text-decoration: none;
        font-family: "Space Grotesk", Arial, sans-serif;
        font-size: 1rem;
        transition: color 0.5s ease-in-out;

        &:hover {
          color: #00ffcc;
        }
      }
    }
  }

  &.collapsed {
    width: 30px;
  }

  .toggle-button {
    position: absolute;
    top: 15%;
    transform: translateY(-50%);
    right: 0px;
    width: 34px;
    height:34px;
    border: none;
    border-radius: 50%;
    background:none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      width: 37px;
    height: 37px;
    }

    .icon-wrapper {
      position: relative;
      width: 34px;
      height: 34px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: transform 0.3s ease, opacity 0.3s ease;
      }

      .icon-left {
        transform: translateX(10px);
        opacity: 0;
      }

      .icon-right {
        transform: translateX(-10px);
        opacity: 0;
      }
    }

    &.icon-collapsed .icon-left {
      transform: translateX(0);
      opacity: 1;
    }

    &.icon-collapsed .icon-right {
      transform: translateX(10px);
      opacity: 0;
    }

    &.icon-expanded .icon-right {
      transform: translateX(0);
      opacity: 1;
    }

    &.icon-expanded .icon-left {
      transform: translateX(-10px);
      opacity: 0;
    }
  }
}
