.sidebar {
  background-color: #03101c;
  color: white;
  width: 9vw;
  transition: width 0.5s ease-in-out;
  overflow: hidden;

  ul {
    list-style: none;
    padding: 3.5rem 2rem;

    li {
      margin-bottom: 10px;

      a {
        color: white;
        text-decoration: none;
        font-family: "Space Grotesk", Arial, sans-serif;
        font-size: 1rem;
        transition: color 0.5s ease-in-out;

        &:hover {
          color: #00ffcc;
        }
      }
    }
  }

  &.collapsed {
    width: 30px; /* Узкий сайдбар */
  }

  .toggle-button {
    position: absolute;
    top: 11%;
    left: 8%;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #001c21;
    color: #07a67f;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      background-color: #07a67f;
      color: #001c21;
    }
  }
}
